<% module_namespacing do -%>
module RichTextArea
  class Component < <%= defined?(ApplicationComponent) ? "ApplicationComponent" : "ViewComponent::Base" %>
    include VCFB::ActsAsFormComponent

    def initialize(form, method, options = {})
      @form = form
      @method = method
      @options = <%= defined?(TagOptions::Hash) ? "TagOptions::Hash.new(options)" : "options" %>
    end

    delegate :rich_text_area_tag, to: :helpers
  end
end
<% end -%>
