<% module_namespacing do -%>
module WeekField
  class Component < <%= defined?(ApplicationComponent) ? "ApplicationComponent" : "ViewComponent::Base" %>
    include VCFB::ActsAsFormComponent

    def initialize(form, method, options = {})
      @form = form
      @method = method
      @options = options
    end
  end
end
<% end -%>
