<% module_namespacing do -%>
module Button
  class Component < <%= defined?(ApplicationComponent) ? "ApplicationComponent" : "ViewComponent::Base" %>
    include VCFB::ActsAsFormComponent

    def initialize(form, text = nil, options = {})
      @form = form
      @text = text
      @options = options
    end
  end
end
<% end -%>
