<% module_namespacing do -%>
module RadioButton
  class Component < <%= defined?(ApplicationComponent) ? "ApplicationComponent" : "ViewComponent::Base" %>
    include VCFB::ActsAsFormComponent

    def initialize(form, method, value, options = {})
      @form = form
      @method = method
      @value = value
      @options = options
    end
  end
end
<% end -%>
