<% module_namespacing do -%>
module CollectionRadioButtons
  module RadioButton
    class Component < <%= defined?(ApplicationComponent) ? "ApplicationComponent" : "ViewComponent::Base" %>
      include VCFB::ActsAsFormComponent

      def initialize(form, method, value, options = {})
        @form = form
        @method = method
        @value = value
        @options = <%= defined?(TagOptions::Hash) ? "TagOptions::Hash.new(options)" : "options" %>
      end
    end
  end
end
<% end -%>
